.advantages {
  padding: 60px 15px;

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}

.list-icons__figure {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
}

.list-icons__desc {
  display: block;
  background: var(--white-color);
}

.list-icons__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.list-icons__modifier {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--content-description);
}

@media screen and (max-width: 767px) {
  .list-icons {
    &__item:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px) {
  .advantages-icon {
    width: 354px;
    background: #f5f4fa;
  }

  .list-icons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    // margin-left: -30px;
    // margin-top: -30px;

    &__item {
      flex-basis: calc(100% / 2 - 30px);
      // margin-left: 30px;
      // margin-top: 30px;
    }

    &__title {
      text-align: start;
    }
  }
}

@media screen and (min-width: 1200px) {
  .advantages-icon {
    width: 270px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  .list-icons {
    display: flex;
    align-items: center;
    margin-left: -30px;
    margin-top: -30px;

    &__item {
      flex-basis: calc(100% / 4 - 30px);
      margin-left: 30px;
      margin-top: 30px;
    }

    &__figure {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 70px;
    }

    &__desc {
      display: block;
      align-items: center;
      justify-content: center;
      width: 270px;
      background: var(--white-color);
    }

    &__title {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    &__modifier {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;

      color: var(--content-description);
    }
  }
}
