.main-header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
}

.current {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .mobile-menu__link.link.current::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }

  .mobile-menu__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  .mobile-menu__list {
    margin-bottom: 302px;
  }

  .mobile-menu__contacts-list {
    margin-bottom: 64px;
  }

  .mobile-menu__contacts-item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  .mobile-menu__contacts-link_phone {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }

  .mobile-menu__contacts-link_mail {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--content-description);
  }

  .mobile-menu__social-list {
    display: flex;
    align-items: center;
  }

  .mobile-menu__social-item {
    &:not(:last-child) {
      margin-right: 10px;
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }

  .mobile-menu__social-link {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }

  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    transition: fill var(--transition-time-cubic);

    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }

  .menu__close-btn {
    width: 40px;
    height: 40px;
  }

  .contacts {
    display: none;
  }

  .menu-btn,
  .mobile-menu__close-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .menu-btn__icon {
    width: 40px;
    height: 40px;
    fill: var(--main-color);
    transition: fill var(--transition-time-cubic);

    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100vw;
    max-width: 480px;
    height: 100vh;
    background-color: var(--white-color);
    padding: 48px 40px;
    transform: translateX(100%) scale(0.5);
    transition: transform var(--transition-time-cubic-modal),
      scale var(--transition-time-cubic-modal);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
  }

  .is-open {
    transform: translateX(-50%) scale(1);
  }

  .mobile-menu__link {
    position: relative;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--main-color);
    transition: color var(--transition-time-cubic);

    &.current {
      color: var(--accent-color);
    }

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .contacts {
    display: block;
    margin-left: auto;
  }

  .main-header {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .contacts__link {
    display: flex;
    align-items: center;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--content-description);
  }

  .contacts__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .contacts__icon_mail {
    width: 14px;
    height: 10px;
    align-self: center;
    margin-right: 8px;
    fill: currentColor;
  }

  .contacts__icon_phone {
    width: 10px;
    height: 14px;
    margin-right: 8px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .main-header {
    padding: 0;
  }

  .contacts {
    display: flex;
    align-items: center;
    margin-left: auto;

    &__item {
      &:not(:last-child) {
        margin-right: 50px;
        margin-bottom: 0;
      }
    }
  }

  .contacts__link {
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    padding-top: var(--link-padding-tp);
    padding-bottom: var(--link-padding-bt);
    transition: color var(--transition-time-cubic);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .contacts__icon_phone {
    margin-right: 10px;
  }

  .contacts__icon_mail {
    margin-right: 10px;
  }
}
