.main-title {
  max-width: 360px;
  font-weight: 900;
  margin: 0 auto;
  text-align: center;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--white-color);
}

.hero {
  background: var(--background-section);
  margin: 0 auto;
  max-width: 480px;
  padding: 118px 0;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/mobile/hero/hero-mobile_1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/mobile/hero/hero-mobile_@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/tablet/hero/hero-tablet_1x.jpg");
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/tablet/hero/hero-tablet_@2x.jpg");
    }
  }
}

@media screen and (min-width: 1200px) {
  .main-title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }

  .hero {
    max-width: 1600px;
    padding: 200px 0;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/desktop/hero/hero-desktop_1x.jpg");
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/desktop/hero/hero-desktop_@2x.jpg");
    }
  }
}
